/* LAYOUT_01 */

body {
  font-family: var(--ff-base-Montserrat);
  font-weight: var(--fw-500);
  font-size: var(--fs-14);
  color: var(--clr-neutral-prod-400);
  background-color: var(--clr-products-secondary-200);

  display: grid;
  place-content: center;
  margin: 1rem;
}
