/* FONTS */
:root {
  /*Typography */
  --ff-base-outfit: "Outfit", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;

  --fs-18: 1.125rem;

  /* PRODUCT */
  --ff-base-Fraunces: "Fraunces", serif;
  --ff-base-Montserrat: "Montserrat", sans-serif;

  --fw-500: 500;
  --fw-700: 700;

  --fs-14: 0.875rem;
}
